@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@1,500&family=Lobster&family=Oswald:wght@500&display=swap');
* {
    margin: 0;
    border: none;
    padding: 0  
}
body{
    font-family: Labrada, sans-serif;
    font-weight: 300;
    color: black;
}
/* Header */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: darkkhaki;
}

#head {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    text-decoration: underline;
    color: brown;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #head{
    line-height: 75px;
    
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 20px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
#cover-text, #cover-text h2{
    color: #fff;
}
#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text{
    font-size: 130%;
    font-family: Labrada, sans-serif ;
    text-transform: uppercase;
    width: 300px;
    height: 200px;
    letter-spacing: 4px;
    padding-left: 10px;
    padding-top: 40px;
    background-color: rgba(17, 17, 19, 0.5);
    top: 30px;
    right: 150px;
    position: absolute;
}
/* Gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos > img{
    width: 100%;
}
/* Footer */
footer {
    height: 150px;
    border-top: 2px solid black;
    background-color: rgba(237, 170, 146, 0.7);
    width: 100%;
}
#follow-us{
    text-align: center;
}
#follow{
    font-family: cursive;
    color:brown;
    text-decoration: underline;
}
.social-networks {
    text-align:center;
}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 2%;
    padding: 0;
    color: #3a3a3a;
}
.social-networks i:hover{
    color: blue;
}
/*Why Us*/
#why-us{
    height: 600px;
    background: url(../images/underwater.jpeg) center/ cover no-repeat;
}
#placement{
    padding-top: 30px;
    width: 100%;
}
#placement h2{
    text-decoration: underline;
}
.left-side{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    color: white;
}
.right-side{
    width: 40%;
    float: right;
    line-height: 20px;
    clear: both;
    color:white;
}

.why-us-photos-left{
    height: 120px;
    width: 150px;
    border-radius: 50%; 
    float: left;  
}
.why-us-photos-right{
    height: 120px;
    width:150px;
    border-radius: 50%; 
    float: right;  
}

#welcome{
    clear: both;
    text-align: center;
    color: dimgray;
    font-size: 200%;
    text-decoration: underline;
}
/* Form Section */
.form-section {
    clear: left;
    background: url(../images/joinus.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form{
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(40, 175, 107, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form h2{
    color:white;
    margin-bottom: 20px;
}
.text-input{  
    color:rgb(10, 10, 10);
    width:100%;
    height: 20px;
    margin:5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
#query{
    height: 80px;
}
.text-input:hover{
    border-color: #f16c6b;
}
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
/* Media queries*/
/*from larger to medium devices upto 1200px*/
@media screen and (max-width: 1200px){
    #why-us{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #about-us{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #welcome{
        padding: 30px 0;
        margin: 0;
    }
    #placement{
        width: 100%;
        float: left;
        padding: 0;
    }  
}
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        
    }
    #cover-text{
        left: 0;
    }
    #why-us{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    
    }
    #about-us{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        text-align: center;
        
    }
    .left-side, .right-side{
        width: inherit;
    }
    .left-side h2, .right-side h2{
        width: 100%;
        text-align: center;
    }
    .left-side, .right-side p{
        text-align: center;
        padding: 0 20px;
    }
    #photos{
        column-count: 3;
    }
}
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        
    }
    #cover-text{
        left: 0;
    }
    #why-us{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    #about-us{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .left-side, .right-side{
        width: inherit;
    }
    .left-side h2, .right-side h2{
        width: 100%;
        text-align: center;
    }
    .left-side p, .right-side p{
        text-align: center;
        padding: 0 20px;
    }
    #photos{
        column-count: 3;
    }
}
@media screen and (max-width: 800px){
    #photos{
        column-count: 2;
    }
    
}
/* About Us*/
#about-us{
    clear: both;
    width: 100%;
      
}
#background{
    background: url(../images/about.jpeg) center/ cover no-repeat;
}
#about-us h2{
    text-decoration: underline;
    color:darkkhaki;
    margin-left: 20px;
}
#about-us p{
    margin-left: 20px;
    color: rgb(102, 9, 241);
    color: lightgoldenrodyellow;
}
