@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@700&display=swap');
* {
    margin: 0;
    border: none;
    padding: 0  
}
body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #0c0c0c;
}
/* Header */
#top {
        width: 100%;
        height: 100%;
        border: 1px solid #c3c3c3;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-top: 20px;
        background-color:black;
}
h1, h2, h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}
#head {
    float: left;
    font-size: 280%;
    text-decoration: underline;
    color: yellow;
} 
#menu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menu li{
    display: inline;
    float: left;
    padding: 10px;
    color: #fff;
}
#menu, #head{
    line-height: 65px;
    
}

#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #fff;
}
.active {
    border-bottom: 1px solid #fff;
}
#cover-text, #cover-text h2{
    color: #fff;
}
#main-outer {
    height: 650px;
    overflow: hidden;
    position: relative;
    clear: both;
}
#main-video video{
    width: 100%;
    position: absolute;
    height: auto;
}

#cover-text{
    font-size: 130%;
    font-family: Raleway, sans-serif ;
    text-transform: uppercase;
    width: 300px;
    height: 180px;
    letter-spacing: 4px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: rgba(17, 17, 19, 0.5);
    top: 20px;
    right: 100px;
    position: absolute;
}
/* About Us*/
#about-us {
    clear: both;
    width: 100%;
    text-align: center; 
    background: url(../images/diverout.jpeg) center/ cover no-repeat;
    height: 600px;
    line-height: 30px;
}
#about-us h2{
    text-decoration: underline;
    font-size: 200%;
    padding-top: 20px;
    color: rgb(200, 232, 16);
}
#about-us h3{
   text-decoration: underline;
   color: #fff;
}
#about-us p{
    color: lightgoldenrodyellow;

}
/*Why Us*/
#why-us{
    height: 700px;
    width: 100%; 
    margin: 0;
    line-height: 30px;
}
#placement{
    padding-top: 30px;
    width: 100%;
}
#placement h2{
    text-decoration: underline;
    color: black;
}
.left-side {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    color: rgb(2, 2, 2);
}
.right-side{
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    color:rgb(2, 2, 2);
}
.container{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-style: solid;
    border-color: #ccc;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

.why-us-photos-left{
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    float: left;  
}
.why-us-photos-right{
    height: 100px;
    width:100px;
    border-radius: 50%; 
    float: right;  
}
#welcome{
    clear: both;
    text-align: center;
    color: rgb(232, 66, 16);
    font-size: 200%;
    text-decoration: underline;
    padding-top: 30px;
}
/* Events */
#events{
    clear: both;
    text-align: center;
    background: url(../images/boat-image.jpeg) center/ cover no-repeat;
    height: 900px;
}
#events h2{
    font-weight: 300;
    text-decoration: underline;
    font-size: 200%;
    padding-top: 40px;
    margin-bottom: 30px;
}
#trip div{
    color: #fafafa;
    background-color: rgba(7, 8, 8, 0.6);
    width: 20%;
    height: 500px;
    float: left;
    padding: 30px 0 0 30px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    margin-top: 100px;
}
#trip h3{
    text-decoration: underline;
    text-transform: uppercase;
}

/* Gallery */
#head-gallery{
    clear: both;
    text-align: center;
    background-color: rgb(9, 9, 9, .7);
    color: #fff;
    text-decoration:underline ;
}

#photos {
    clear: both;
    line-height: 10px;
    column-count: 4;
    column-gap: 10px;
}
#photos > img{
    width: 100%;
    padding:10px;
}
/* Footer */
footer {
    height: 100%;
    border-top: 2px solid #fff;
    width: 100%;
}

#follow h3{
    margin-right: 20px;
}  
.social-networks {
    text-align: center;

}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 4%;
    padding: 0;
    color: #fefbfb;

}
.social-networks i:hover{
    color:#f50606;

}
#follow-us {
        width: 100%;
        height: 100%;
        border: 1px solid #c3c3c3;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-top: 20px;
        background-color: black;
}
#location, #address{
    text-align: center;
}
#address p{
    color: #fff;
    margin-left: 10px;
}
#follow-us h3{
    text-decoration: underline;
    color: #fff;
}
#location iframe{
    padding-bottom: 10px;
}

/* Form Section */
.form-section {
    clear: left;
    background: url(../images/wreck-image.jpeg) center/ cover no-repeat;
    height: 900px;
}
.joinus-form{
    margin: 120px 10% 0 0;
    color: #fff;
    background-color: rgba(40, 175, 107, 0.6);
    max-width: 600px;
    position: absolute;
    left: 30%;
    padding: 30px;
}

.joinus-form h2{
    color:white;
    margin-bottom: 20px;
}
.text-input{  
    color:rgb(10, 10, 10);
    width:100%;
    height: 20px;
    margin:5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
#query{
    height: 80px;
}
.text-input:hover{
    border-color: #f16c6b;
}
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f50606;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* Media queries*/
/*from larger to medium devices upto 1200px*/
@media screen and (max-width: 1200px){ 
    #top{
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    #main-outer{
        height: 450px;
    }
    #why-us{
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-side, .right-side{
        width: 100%;
        float: left;
        padding: 0;
    }
    .container{
        clear: both;
        width: 44%;
        height: 180px;
        padding: 0;
        float: left;
    }
    #about-us{
        width: 100%;
        height: 1050px;
        margin: 0 auto;
    }
    #events{
        width: 100%;
        height: 850px;
        margin: 0 auto;
    }
    #trip div{
        margin: 0 auto;
    }
    #welcome{
        padding: 30px 0;
        margin: 0;
    }
    #placement{
        width: 100%;
        float: left;
        padding: 0;
    } 
    #trip > div{
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
    }
    #follow-us{
        padding: 0;
        text-align: center;
    }
    
    #location iframe{
        width: 300px;
    }
    
}
@media screen and (max-width: 950px) {
    #top{
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    #cover-text{
        height: 150px;
        padding: 0;
        left: 0;
    }
    #cover-text h2{
        height: 100px;
        float: right;
        text-align: left;
        margin-left: 30px;
    }
   
    #why-us{
        width: 100%;
        height: 950px;
        margin: 0 auto;
    }
    #about-us{
        width: 100%;
        height: 750px;
        margin: 0 auto;
        text-align: center;
    }
    
    .left-side, .right-side{
        width: inherit;
    }
    .left-side h2, .right-side h2{
        text-align: center;
        line-height: 30px;
        font-size: 100%;
    }
    .left-side p, .right-side p{
        text-align: center;
        padding: 0 20px;
    }
    #events{
        height: 1200px;
    }
    #photos{
        column-count: 3;
    }
    #follow-us{
        flex-direction: column;
        padding: 0;
    }
    #location, #follow{
        padding-top: 20px ;
    }
    .container{
        clear: both;
        width: 30%;
        height: 140px;
        padding: 5px;
        float: left;
    }
    .joinus-form{
        width: 65%;
        left:12%;
    }
    .form-section{
        height: 800px;
    }
}
@media screen and (max-width: 800px){
    #photos{
        column-count: 2;
    }
    #menu{
        margin: 0 auto;
    }
    #why-us{
        width: 100%;
        height: 800px;
        margin:0 auto;
    }
    .container{
        clear: both;
        width: 30%;
        height: 140px;
        padding: 5px;
        float: left;
    }
    #follow-us{
        padding: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    
}
@media screen and (max-width: 480px){
#main-outer{
    height: 220px;
}
}
    

