* {
    margin: 0;
    border: none;
    padding: 0  
}
body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #0c0c0c;
}

/* Header */
#main-head{
    display: block;
    position: relative;
    height: 650px;
    overflow: hidden;
}
#nav-bar{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}
.nav{
    position: relative;
    background-color: rgba(7, 8, 8, 0.4);
}
#top {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
h1, h2, h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}
#head {
    float: left;
    font-size: 180%;
    color: yellow;
    padding-left: 10px;
} 
#menu ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menu li{
    display: inline;
    float: left;
    padding: 10px;
    color: yellow;
}
#menu, #head{
    line-height: 65px;   
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #fff;
}
.active {
    border-bottom: 1px solid #fff;
}
#main-outer{
    height: 100%;
    position: relative;
}
#main-video{
    position: relative;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.main-player{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%,-50%);
    z-index: 0;
}
#cover-text{
    font-size: 130%;
    font-family: Raleway, sans-serif ;
    text-transform: uppercase;
    width: 100%;
    height: 200px;
    letter-spacing: 4px;
    padding-top: 40px;
    background-color: rgba(251, 252, 248, .4);
    bottom: 25%;
    position: absolute;
    text-align: center;
}

/* About Us */
#about-us {
    clear: both;
    width: 100%;
    text-align: center; 
    background: url(../images/diverout.jpeg) center/ cover no-repeat;
    height: 600px;
    line-height: 30px;
}
#about-us h2{
    text-decoration: underline;
    font-size: 200%;
    padding-top: 20px;
    color: yellow;
}
#about-us h3{
   text-decoration: underline;
   color: yellow;
}
#about-us p{
    color: rgb(242, 249, 249);

}

/* Why Us */
#why-us{
    height: 700px;
    width: 100%; 
    margin: 0;
    line-height: 30px;
}
#placement{
    padding-top: 30px;
    width: 100%;
}
#placement h2{
    text-decoration: underline;
    color: black;
}
.left-side {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    color: rgb(2, 2, 2);
}
.right-side{
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    color:rgb(2, 2, 2);
}
.container{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-style: solid;
    border-color: #ccc;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

.why-us-photos-left{
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    float: left;  
}
.why-us-photos-right{
    height: 100px;
    width:100px;
    border-radius: 50%; 
    float: right;  
}
#welcome{
    clear: both;
    text-align: center;
    color: green;
    font-size: 200%;
    text-decoration: underline;
    padding-top: 30px;
}

/* Events */
#events{
    clear: both;
    text-align: center;
    background: url(../images/boat-image.jpeg) center/ cover no-repeat;
    height: 900px;
}
#events h2{
    font-weight: 300;
    text-decoration: underline;
    font-size: 180%;
    padding-top: 130px;
    padding-bottom: 10px;
    color: green;
}
#trip div{
    color: #fbf8f8;
    background-color: rgba(9, 10, 10, 0.6);
    width: 20%;
    height: 500px;
    float: left;
    padding: 30px 0 0 30px;
    text-align: center;
    border: 2px solid rgb(252, 249, 249);
    box-sizing: border-box;
    margin-top: 100px;
}
#trip h3{
    text-decoration: underline;
    text-transform: uppercase;
    padding-top: 10px;
    color: yellow;
}

/* Gallery */
#head-gallery{
    clear: both;
    text-align: center;
    color: green;
    text-decoration:underline ;
    padding-top: 130px;
}

#photos {
    clear: both;
    line-height: 10px;
    column-count: 4;
    column-gap: 10px;
}
#photos > img{
    width: 100%;
    padding:10px;
}

/* Form Section */
.form-section {
    clear: left;
    background: url(../images/wreck-image.jpeg) center/ cover no-repeat;
    height: 900px;
}
.joinus-form{
    margin: 120px 10% 0 0;
    color: #fff;
    background-color: rgba(21, 22, 22, 0.8);
    max-width: 600px;
    position: absolute;
    left: 30%;
    padding: 30px;
}

.joinus-form h2{
    color: #f2ee08;
    margin-bottom: 20px;
}
.joinus-form label{
    color:#fff;
}
.text-input{  
    color:rgb(10, 10, 10);
    width:100%;
    height: 20px;
    margin:5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
#query{
    height: 100px;
}
.text-input:hover{
    border-color: #f30909;
}
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f50606;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
.thanks-form{
    margin: 120px 10% 0 0;
    color: #fff;
    background-color: rgba(21, 22, 22, 0.8);
    max-width: 600px;
    position: absolute;
    left: 30%;
    padding: 30px;
}
.thanks-form h2{
    color: #f2ee08;
    margin-bottom: 20px;
    text-align: center;
}
.thanks-form h3{
    color: #f2ee08;
    margin-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
#go-home{
    margin: 0 auto;
}

/* Footer */
footer {
    height: 100%;
    border-top: 2px solid #fff;
    width: 100%;
}

#follow h3{
    margin-right: 20px;
}  
.social-networks {
    text-align: center;

}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 4%;
    padding: 0;
    color: #fefbfb;

}
.social-networks i:hover{
    border-bottom: 1px solid #fff ;

}
#follow-us {
        width: 100%;
        height: 100%;
        border: 1px solid #c3c3c3;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-top: 20px;
        background-color: black;
}
#location, #address{
    text-align: center;
}
#address{
    margin-left: 10px;
}
#address p{
    color: #fff;
}
#follow-us h3{
    text-decoration: underline;
    color: #f2ee08;
}
#location iframe{
    padding-bottom: 10px;
}

/* Media queries*/

/*from larger to medium devices upto 1200px*/
@media screen and (max-width: 1200px){ 
    #why-us{
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-side, .right-side{
        width: 100%;
        float: left;
        padding: 0;
    }
    .container{
        clear: both;
        width: 44%;
        height: 180px;
        padding: 0;
        float: left;
    }
    #about-us{
        width: 100%;
        height: 1050px;
        margin: 0 auto;
    }
    #events{
        width: 100%;
        height: 850px;
        margin: 0 auto;
    }
    #trip div{
        margin: 0 auto;
    }
    #welcome{
        padding: 30px 0;
        margin: 0;
    }
    #placement{
        width: 100%;
        float: left;
        padding: 0;
    } 
    #trip > div{
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
    }
    #follow-us{
        padding: 0;
        text-align: center;
    }
    
    #location iframe{
        width: 300px;
    }    
}

/* For devices upto max-width 950px */
@media screen and (max-width: 950px) {
    #top{
        flex-direction: column;
        max-width: 100%;
    }
    #menu{
        float: right;
    }
    #head, #menu{
        line-height: 40px;
    }
    #cover-text h2{
        height: 100px;
        text-align: center;
        padding-top: 20px;
    }
   
    #why-us{
        width: 100%;
        height: 950px;
        margin: 0 auto;
    }
    #about-us{
        width: 100%;
        height: 750px;
        margin: 0 auto;
        text-align: center;
    }
    
    .left-side, .right-side{
        width: inherit;
    }
    .left-side h2, .right-side h2{
        text-align: center;
        line-height: 30px;
        font-size: 100%;
    }
    .left-side p, .right-side p{
        text-align: center;
        padding: 0 20px;
    }
    #events{
        height: 1178px;
    }
    #photos{
        column-count: 3;
    }
    #follow-us{
        flex-direction: column;
        padding: 0;
    }
    #address h3{
        padding-top: 10px;
    }
    #location, #follow{
        padding-top: 20px ;
    }
    .container{
        clear: both;
        width: 30%;
        height: 140px;
        padding: 5px;
        float: left;
    }
    .joinus-form{
        width: 65%;
        left:12%;
    }
    .thanks-form{
        width: 65%;
        left:12%; 
    }
    .form-section{
        height: 800px;
    }
}
/* For devices upto max-width 800px */
@media screen and (max-width: 800px){
    #top{
        line-height: 0;
    }
    h1{
        letter-spacing: 0;
        padding: 0;
    }
    #head, #menu{
        line-height: 40px;
    }
    #menu li{
        padding: 0 10px;
    }
    #photos{
        column-count: 2;
    }
    #menu{
        margin: 0 auto;
    }
    #why-us{
        width: 100%;
        height: 800px;
        margin:0 auto;
    }
    .container{
        clear: both;
        width: 30%;
        height: 140px;
        padding: 5px;
        float: left;
    }
    #follow-us{
        padding: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    #events div{
        height: 195px
    }
}
    

